<!DOCTYPE html>
<html>
    <head>
        <title>Cinescout - Find something good to watch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



      	{% block javascript %}
      	{% endblock %}
    </head>

    <body>
      <div>
        <strong>cinescout:</strong>
        <a href= "{{ url_for('index') }}">Search</a>
        <a href="{{ url_for('index')}}">Browse</a>
        <a href="{{ url_for('login')}}">Login</a>

          {% if current_user.is_authenticated %}
            <a href="{{ url_for('index')}}">List</a>
            <a href="{{ url_for('logout')}}">Logout</a>
            (Hi {{ current_user.username }}!)
          {% endif %}
      </div>
      <hr>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <strong>Messages</strong>
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block body %}
      {% endblock %}
    </body>

</html>
