<!DOCTYPE html>
<html>
    <head>
        <title>Cinesout - Find something good to watch</title>

        <style>
          table, th, td {
            border: 1px solid black;
          }
	</style>

      	{% block css %}
      	{% endblock %}

      	{% block javascript %}
      	{% endblock %}
    </head>
    
    <body>
      <div>
        <strong>cinescout:</strong>
        <a href= "{{ url_for('index') }}">Search</a>
        <a href="{{ url_for('index')}}">Browse</a>
        <a href="{{ url_for('login')}}">Login</a>

          {% if current_user.is_authenticated %}
            <a href="{{ url_for('index')}}">List</a>
            <a href="{{ url_for('logout')}}">Logout</a>
            (Hi {{ current_user.username }}!)
          {% endif %}
      </div>
      <hr>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <strong>Messages</strong>
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      {% block body %}
      {% endblock %}
    </body>

</html>


