<!DOCTYPE html>
<html>
    <head>
        <title>Cinescout: {% block title %}{% endblock %}</title>

        <!-- For mobile responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Require a CSRF token for AJAX requests that modify the database but don't use a form to do so-->
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <!-- CSS only -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        {% block css %}
        {% endblock %}

      	{% block javascript %}
      	{% endblock %}
    </head>

    <body class="bg-dark text-white">

        <!--NEW NAVBAR-->
        <nav id="mynavbar" class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top border-bottom">

            <a id="mynavlogo" class="navbar-brand mb-01 font-weight-bold" href="{{ url_for('index')}}">Cinescout🎞</a>

            <!-- Collapsible menu button on reduced viewports, e.g. phones -->
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse " id="navbarNav">

              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link text-white" href= "{{ url_for('search') }}">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('browse')}}">Browse</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('about')}}">About</a>
                </li>

                {% if current_user.is_authenticated %}

                  <!-- Right side of navbar -->
                  <li class="nav-item">
                      <a class="nav-link text-white" href="{{ url_for('get_user_movie_list')}}">List</a>
                  </li>

                   <li class="nav-item">
                       <a class="nav-link text-white" href="{{ url_for('logout')}}">Logout ({{ current_user.username }})</a>
                   </li>
              {% else %}
                <!--Not logged in-->
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('login')}}">Login</a>
                </li>
                <!-- Discontinued as of v1.0.1
                <li class="nav-item">
                    {# <a class="nav-link text-white" href="{{ url_for('register')}}">Register</a> #}
                </li> 
                -->
              </ul>
              {% endif %}
            </div>
        </nav>

        <!-- Required for spacing between main content and navbar -->
        <hr>

        <div id="main-content" class="container-fluid">
          <div class="row">
            <div class="col">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div>
                      {% for category, message in messages %}
                        {% if category == 'error' %}
                          <div class="alert alert-danger">{{ message }}</div>
                        {% elif category == 'success' %}
                          <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                      {% endfor %}
                  </div>
                {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}
          </div>
          </div>
      </div>
</html>
