{% extends "base.html" %}
{% block title %}Filmography of {{ name }}{% endblock %}

{% block javascript %}
{# <script type="module" src="{{ url_for('static', filename='js/loadspinner.js') }}" crossorigin="anonymous"></script> #}
{% endblock %}

{% block body %}
  <h1>Filmography: {{ name }}</h1>
  <br>

  {% if no_films %}
    There are no films for this person.
  {% endif %}

  <div>
    {% if person_image_url %}
      <img src="{{ person_image_url }}" class="border border-white"></img>
    {% else %}
      <p>No photo available for this person.</p>
    {% endif %}
  </div>
  <br>

    <h2> Cast </h2>

    {% if cast|length > 0 %}
      <ul>

      {% for cast_item in cast %}

        <li>
          <a href="{{ url_for('movie_info', tmdb_id=cast_item['movie'].id )}}" class="movie-link text-white">
            <strong><i>{{ cast_item['movie'].title }}</i></strong>

            {% if cast_item['movie'].title != cast_item['movie'].original_title and cast_item['movie'].original_title is not none %}
               [Original title: <i>{{ cast_item['movie'].original_title }}]</i>
            {% endif %}

            {% if cast_item['movie'].release_date != '0001-01-01' %}
              (Released: {{ cast_item['movie'].release_date }},
            {% else %}
              (Released: ???,
            {% endif %}
            Role:
            {% if cast_item['character'] %}
              {{ cast_item['character'] }})
            {% else %}
              ???)
            {% endif %}
            {# <span class="spinner-border spinner-border-sm"></span> #}
          </a>
        </li>
      {% endfor %}
    </ul>

  {% else %}
    <p> There are no cast entries for this person. </p>
  {% endif %}


    <h2> Crew </h2>

    {% if crew|length > 0 %}
      <ul>
      {% for crew_item in crew %}
        <li>
          <a href="{{ url_for('movie_info', tmdb_id=crew_item['movie'].id )}}" class="movie-link text-white">
            <strong><i>{{ crew_item['movie'].title }}</i></strong>

            {% if crew_item['movie'].title != crew_item['movie'].original_title and crew_item['movie'].original_title is not none %}
               [Original title: <i>{{ crew_item['movie'].original_title }}</i>]
            {% endif %}

            {% if crew_item['movie'].release_date != '0001-01-01' %}
              (Released: {{ crew_item['movie'].release_date }},
            {% else %}
              (Released: ???,
            {% endif %}
            Job: {{ crew_item['job'] }})
            {# <span class="spinner-border spinner-border-sm"></span> #}
          </a>
        </li>
      {% endfor %}
      </ul>

    {% else %}
      <p> There are no crew entries for this person. </p>
    {% endif %}

{% endblock %}
