{% extends "base.html" %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/removefromlist.js') }}"></script>
{% endblock %}

{% block body %}
  <h1>{{ current_user.username }}'s List</h1>

  {% if films %}
    <table class="table table-hover table-dark">

      <colgroup>
        <col span=1 class="userlist-col">
        <col span=1 class="userlist-col">
        <col span=1 class="userlist-col">
        <col span=1 class="userlist-col">
      </colgroup>

      <thead>
        <tr>
          <th>Title</th>
          <th>Release Date</th>
          <th>Original Title</th>
          <th>Remove?</th>
        </tr>
      </thead>

      <tbody>
        {% for film in films %}
          <tr>
            <td>
              <a href="{{ url_for('movie_info', tmdb_id=film.tmdb_id )}}">
                {{ film.title }}
              </a>
            </td>

            <td>
              {% if film.date is not none %}
                {{ film.date }}
              {% else %}
               <span>Unknown</span>
              {% endif %}
            </td>

            <td>
              {% if film.title != film.original_title and film.original_title is not none %}
                {{ film.original_title }}
              {% else %}
               <span>Idem.</span>
              {% endif %}
            </td>

            <td>
              <button class="btn btn-secondary trash-button"
                      name="remove" type="submit" value="{{ film.tmdb_id  }}"
                      alt="remove item">Remove</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    {# Keep commented: remove.js handles what happens when list is empty. #}
    <!-- <p id="empty-list-message">Your list is empty. Add some films today!</p> -->
  {% endif %}

  <p id="empty-list-message">There are no films on your list. Add some today!</p>

{% endblock %}
