{% extends "base.html" %}

{% block title %}Login{% endblock %} 

{% block body %}

  <h1>Sign In</h1>
  <br>
   <form action="" method="post" novalidate>
      {# Add token to prevent CRSF attacks #}
       {{ form.hidden_tag() }}
       <p>
           {{ form.username.label }}<br>
           {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
       </p>
       <p>
           {{ form.password.label }}<br>
           {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
       </p>
       <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
       <p>{{ form.submit() }}</p>
  </form>

  <p>
    First-time user? Click
      <a href="{{ url_for('register') }}" alt="register link" class="text-info">here</a>
      to create an account.
  </p>


{% endblock %}
