{% extends "base.html" %}

{% block body %}
  <h1>Person Results</h1>

  {% if persons %}
    <ul>
      {% for person in persons %}

        <li>
          <a href="{{ url_for('filmography', person_id=person.id, name=person.name ) }}"
            class="text-white">
            <strong>{{ person.name }}</strong> (Known for: {{ person.known_for }})
          </a>
        </li>

      {% endfor %}
    </ul>
  {% else %}
    <p> No persons matching description found. </p>
  {% endif %}

{% endblock %}
