
#main-content{
  padding-top: 3em;
}

.red {
  color: red;
}

#header-column {
  width: 10%;
}

#content-column {
  width: 90%;
}

.userlist-col{
  width: 25%;
}

.browselist-col-title{
  width: 40%;
}

.browselist-col-year{
  width: 20%;
}

.browselist-col-director{
  width: 40%;
}

.publication {
  font-size: 80%;
  font-weight: 600;
  font-family: sans-serif;
}

.review-text {
}

#review-warning {
  font-size: 80%;
}

#footnote {
  font-size: 80%;
  padding-bottom: 1em;
}

.movie-section-heading {
  font-weight: 900;
}

.movie-section-row {
  padding-bottom: 1em;
}

/* Ensures menu items appear on right side of view port when menu collapseed.
Thanks: https://stackoverflow.com/questions/47518911/boostrap-4-navbar-collapse-menu-right-align/50881393
*/
.nav-item{
   text-align: right;
}

.navbar-nav > li:hover{
  background-color: #4d4d4d;
  border-radius: 4px;
}

.navbar-nav > li > a{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.navbar-collapse {
  padding-top: 0.5em;
}

#mynavbar{
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

#mynavlogo{
  padding-bottom: 0px;
}

/*
Used to pad and left-align the Search box provided via the jQuery TableData
plug-in
*/
#criterion-table_filter {
  padding-top: 1em;
  text-align: left;
}

.table-cell {
  word-wrap: break-word;
}

/* About page */
#about-container {
  margin-top: 2em;
}
#about-container article {
  margin-bottom: 1.5em;
}

.question {
  font-weight: bolder;
  font-size: large;
}

.answer{
  margin-top: 0.3em;
}